P {
    color: black;
    font-size: large;
}


body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: lightgray;
    overflow: hidden;
}


ul {
    list-style-type: none;
    font-size: 1rem;
}


a {
    color:black;
    text-decoration: none;
}


a:hover {
    color: rgb(70, 176, 246);
    text-decoration: underline;
}


.container {
    display: flex;
    width: 100vw;
    height: 100vw;
}