body {
    background-color: lightgray;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.page {
    background: white;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
    display: flex;
}





.add-one-container {
    background: white;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
}

.add-one-top {
    background: black;
    width: 42.857143vw;
    height: 1.5vh;
    margin: auto;
    display: flex;
}

.add-one {
    background: black;
    width: 42.857143vw;
    height: 1.5vh;
    margin: auto;
    display: flex;
}

.add-one-bottom {
    background: black;
    width: 42.857143vw;
    height: 1.5vh;
    margin: auto;
    display: flex;
}