
body {
    background-color: lightgray;
    overflow: hidden;
    margin: auto;
}

.page {
    background: white;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
    display: flex;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vw;
    margin: auto;
}





.add-one-container {
    display: flex;
    background: white;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}
.add-one-top {
    background: black;
    height: 42.857143vh;
    width: 1.5vw;
    margin: auto;
    margin-left: 0;
    display: flex;
}
.add-one {
    display: grid;
    background: black;
    height: 42.857143vh;
    width: 1.5vw;
    margin: auto;
    display: flex;
}
.add-one-bottom {
    background: black;
    height: 42.857143vh;
    width: 1.5vw;
    margin: auto;
    margin-right: 0;
    display: flex;
}






.sub-one-container {
    display: flex;
    background-color: lightgray;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    justify-content: center;
}
.sub-one-top {
    background: white;
    width: 14.285714vw;
    height: 2vh;
    margin: auto;
    margin-left: 0;
    display: flex;
}
.sub-one {
    display: grid;
    background: white;
    width: 14.285714vw;
    height: 2vh;
    margin: auto;
    display: flex;
}
.sub-one-bottom {
    background: white;
    width: 14.285714vw;
    height: 2vh;
    margin: auto;
    margin-right: 0;
    display: flex;
}