body {
    background-color: lightgray;
    margin: auto;
    overflow: hidden;
}

.page {
    background: white;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
    display: flex;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
}





.add-one-container {
    grid-template-columns: 1fr;
    gap: 10px;
    background: white;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    display: grid;
}

.add-one {
    background: black;
    width: 42.857143vw;
    height: 1.5vh;
    margin: auto;
    display: grid;
}




.sub-one-container {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    display: grid;
}

.sub-one {
    background: white;
    width: 42.857143vw;
    height: 1.5vh;
    margin: auto;
    display: grid;
}