.current-page {
  font-weight: bold;
  font-size: larger;
}

html {
  cursor: none;
}

header {
  background-image: url(.../images/lines-header.png);
  background-repeat: repeat-x;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  position: relative;
  display: flex;
  display: inline;
  padding-top: 3rem;
  padding-bottom: 5rem;
  cursor: none;
}

h1 {
  padding-left: 5rem;
  padding-top: 3rem;
  cursor: none;
}

h2 {
  padding-left: 5rem;
  padding-bottom: 2rem;
  cursor: none;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  height: 1vh;
  cursor: none;
}

a {
  text-decoration: none;
  color: #000
}

a:hover{
  color: #b2b2b2;
  transition: all 0.2s ease 0s;
  cursor: none;
}

ul {
  list-style: none;
  display: flex;
  padding-left: 4rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: none;
}

li {
  margin: 1rem;
  cursor: none;
}

.pointed{
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 5rem;
  position: fixed;
  z-index: 100;
  cursor: none;
}

p {
  line-height: 2.5;
  color: #000;
  font-size: 12pt;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  cursor: none;
}

img {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  cursor: none;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr;
  cursor: none;
}

footer {
  background: #fff;
  color: #000;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  padding-left: 5rem;
  padding-bottom: 3rem;
  z-index: 100;
  cursor: none;
}



@media screen and (min-width: 768px) {
  .two-column-grid {
    grid-template-columns: 1fr 1fr;}
  }

  @media screen and (min-width: 1440px) {
  .two-column-grid {
    grid-template-columns: 1fr 1fr;}
  }