* {
    box-sizing: border-box;
  }

  header img {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5rem;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #F5F2EB;
    font-family: lato;
  }

  h1 {
    display: inline;
    font-size: 80px;
    color: #F5F2EB;
    font-family: 'Fredoka One', cursive;
    z-index: 100;
    position: relative;
    text-align: left;
    margin-right: 5rem;

  }
  
  .hours {
    background:#BC5D03;
    margin-left: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    font-family: 'Lato', sans-serif;
    color: #F5F2EB
  }

  section {
    font-family: lato;
    color: #7F4106;
    margin-left: 5rem;
  }

  h3 {
    font-family: fredoka one;
    font-size: 50px;
    margin-bottom: 5rem;
  }

  h4 {
    background-color: #BC5D03;
    color: #F5F2EB;
    font-size: 30px;
    padding: 2rem;
    margin-bottom: 5rem;
  }

  h5 {
    background-color: #BC5D03;
    color: #F5F2EB;
    font-size: 30px;
    padding: 2rem;
    margin-bottom: 5rem;
  }

  table {
    width: 50%;
    color: #7F4106;
    margin-bottom: 5rem;
    }
      
    th {
      text-align: left;
      }
      
    td {
      text-align: left;
      }
      
    .price {
      font-weight: bold;
    }
    
    h6 {
      font-size: 30px;
    }

  footer {
    font-family: 'Lato', sans-serif;
    background: #7F4106;
    padding: 2rem;
    color: #F5F2EB;
  }
  
  @media screen and (min-width: 800px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }