* {
    box-sizing: border-box;
  }

  header {
    align-items: flex-end;
    background-image: url(../pouring-coffee.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 5rem;
    height: 80vh;
    margin-bottom: 5rem;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #F5F2EB;
    font-family: lato;
  }

  .title {
    display: inline;
    font-size: 50px;
    color: #F5F2EB;
    font-family: 'Fredoka One', cursive;
    position: relative;
    text-align: left;
    margin-right: 5rem;
  }
  
  .hours {
    background:#BC5D03;
    margin-left: 5rem;
    padding: 2rem;
    font-family: 'Lato', sans-serif;
    color: #F5F2EB
  }

  section {
    font-family: lato;
    color: #7F4106;
    margin-left: 5rem;
  }

  .menu {
    font-family: fredoka one;
    font-size: 50px;
    padding: 5rem;
    color:#7F4106;
  }

  .drinks {
    background-color: #BC5D03;
    color: #F5F2EB;
    font-size: 30px;
    padding: 2rem;
    margin-bottom: 5rem;
    max-width: 15rem;
  }

  .food {
    background-color: #BC5D03;
    color: #F5F2EB;
    font-size: 30px;
    padding: 2rem;
    margin-bottom: 5rem;
    max-width: 15rem;
  }

  table {
    width: 50%;
    color: #7F4106;
    margin-bottom: 5rem;
    }
      
    th {
      text-align: left;
      }
      
    td {
      text-align: left;
      }
      
    .price {
      font-weight: bold;
  }
    
  .directions {
    color: #7F4106;
    margin-top: 5rem;
  }

  footer {
    font-family: 'Lato', sans-serif;
    background: #7F4106;
    padding: 2rem;
    color: #F5F2EB;
  }



  @media screen and (min-width: 800px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }