* {
    box-sizing: border-box;
  }

  header {
    align-items: flex-end;
    background-image: url(../pouring-coffee.jpg);
    background-size: cover;
    display: flex;
    height: 80vh;
    justify-content: flex-end;
    margin-bottom: 6rem;
    position: relative;
  }
  header:after {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      60%,
      rgba(108, 83, 60, 1)
    );
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  
  body {
    background-color: #F5F2EB;
    font-family: lato;
    margin: 0;
    padding: 0;
  }

  .title {
    color: #F5F2EB;
    display: inline;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    line-height: 1.15;
    position: relative;
    text-align: left;
    max-width: 550px;
    z-index: 1;
    padding-bottom: 6rem;
    padding-right: 6rem;
  }
  .title p1 {
    font-size: 25px;
    display: inline;
    max-width: 250px;
  }
  .title p2 {
    font-size: 30px;
    display: inline;
    max-width: 250px;
  }
  
  .hours {
    background:#BC5D03;
    color: #F5F2EB;
    font-family: 'Lato', sans-serif;
    margin-left: 8rem;
    margin-bottom: 3rem;
    padding: 2.5rem;
  }
  .hours h2 {
    font-size: 30px;
  }

  section {
    color: #7F4106;
    font-family: lato;
    margin-left: 6rem;
  }

  p {
    line-height: 2.5;
    padding-right: 6rem;
  }

  .menu {
    color:#7F4106;
    font-family: fredoka one;
    font-size: 40px;
    padding-left: 6rem;
    padding-bottom: 3rem;
  }

  section.menu-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .drinks {
    background-color: #BC5D03;
    color: #F5F2EB;
    margin-bottom: 3rem;
    max-width: 14rem;
    padding: 2rem;
  }
  .drinks h4 {
    font-size: 30px;
    padding-left: 4rem;
  }

  .food {
    background-color: #BC5D03;
    color: #F5F2EB;
    margin-bottom: 3rem;
    max-width: 14rem;
    padding: 2rem;
  }
  .food h5 {
    font-size: 30px;
    padding-left: 4rem;
  }

  table {
    color: #7F4106;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5rem;
    width: 100%;
  }
      
  th {
    font-size: 20px;
    text-align: left;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
      
  td {
    text-align: left;
    padding-bottom: 0.5rem;
  }
      
  .price {
    font-weight: bold;
  }
    
  .directions {
    color: #7F4106;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .directions h6 {
    font-size: 30px;
    padding-bottom: 1rem;
  }
  
  footer {
    background: #7F4106;
    color: #F5F2EB;
    display: flex;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
    padding-left: 5rem;
  }

  .fa-facebook-square {
    color: #F5F2EB;
    font-size: 25px;
    margin-left: 50rem;
    padding: 1rem;
    text-align: right;
  }

  .fa-twitter {
    color:#F5F2EB;
    font-size: 25px;
    padding: 1rem;
    text-align: right;
  }

  .fa-instagram {
    color: #F5F2EB;
    font-size: 25px;
    padding: 1rem;
    text-align: right;
  }

  @media screen and (min-width: 800px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }